# Predicting Movie Revenue

## Features  

**Variable to Predict:** Revenue


- Budget  
- Runtime  
- Genre  
- Release Date  
 - Season  
 - Holiday   
- Production Companies  
 - Number of companies involved  
 - Number of movies a company has made (previously)  
   - Histogram of how often top 10% of production companies make movies
- Crew
 - Number of crewmembers  
- Cast
 - Gender Ratio for top 2/5/10/25
 - Number of previous movies top 10 cast have been in
- Collection
 - Is sequel (order)

In [1]:
import pandas as pd
import sqlite3
import holidays

In [2]:
db = sqlite3.connect(r'../../../Data Science Data/Unit 3/db.sqlite')

In [3]:
## SQL import statements to create dataframes

# Base dataframe to join other onto
base_df = pd.read_sql("""SELECT movie_id, budget, release_date, revenue, runtime, imdb_budget, imdb_revenue, title, collection 
                         FROM movies 
                         WHERE (budget > 0 OR imdb_budget > 0) AND (revenue > 0 OR imdb_revenue > 0)
                      """, db, index_col='movie_id', parse_dates=['release_date'])
base_df.index = base_df.index.map(int)

# Pull in genre table to create dummy variables
genre_df = pd.read_sql("""SELECT * FROM genres""", db)

# Create series for number of production companies associated with each movie_id
number_of_prod_companies = pd.read_sql("""SELECT movie_id, COUNT(company_name) AS prod_company_count
                                          FROM production_companies
                                          GROUP BY movie_id
                                          """, db, index_col='movie_id')
number_of_prod_companies.index = number_of_prod_companies.index.map(int)

production_companies = pd.read_sql("""
    SELECT *
    FROM production_companies
    """, db)
production_companies['movie_id'] = production_companies['movie_id'].map(int)

# Create series for number of crew members associated with each movie_id
number_of_crewmembers = pd.read_sql("""SELECT movie_id, COUNT(crew_member_id) AS crewmember_count
                                       FROM crew
                                       GROUP BY movie_id
                                       """, db, index_col='movie_id')
number_of_crewmembers.index = number_of_crewmembers.index.map(int)

# Dataframe for cast data to create gender ratio, and number of previous movies for cast
cast_data = pd.read_sql("""SELECT cc.movie_id, cc.cast_member_id, cc.cast_order, c.gender, m.release_date
                           FROM cast_credit cc
                           JOIN cast c ON cc.cast_member_id = c.cast_member_id
                           JOIN movies m ON cc.movie_id = m.movie_id
                                  """, db)
cast_data.index = cast_data.index.map(int)

In [4]:
# Create feature to note if the movie is a sequel
base_df.sort_values(['collection', 'release_date'], inplace=True)
base_df['order_in_collection'] = 1

current = None
counter = 1

for index, row in base_df.iterrows():
    if row['collection'] is None:
        break
    if current != row['collection']:
        counter = 1
    base_df.set_value(index,'order_in_collection', counter)
    current = row['collection']
    counter += 1

In [5]:
# Create feature for season
seasons = {
    1:'winter',
    2:'winter',
    3:'spring',
    4:'spring',
    5:'spring',
    6:'summer',
    7:'summer',
    8:'summer',
    9:'fall',
    10:'fall',
    11:'fall',
    12:'winter'
}

def season_for_date(date):
    if pd.notnull(date):
        return seasons[date.month]
    else:
        return None

movie_season = base_df['release_date'].apply(season_for_date)
movie_season.rename('season', inplace=True);

In [6]:
# Create feature for holiday
us_holidays = holidays.UnitedStates()

def check_holiday(date):
    if pd.notnull(date):
        return date in us_holidays
    else:
        return None
    
movie_is_holiday = base_df['release_date'].apply(check_holiday)
movie_is_holiday.rename('is_holiday', inplace=True);

In [7]:
# Create feature for production company experience
production_companies_joined = production_companies.merge(base_df, left_on='movie_id', right_index=True, how='left')

production_companies_joined.sort_values(['company_name', 'release_date'], inplace=True)
production_companies_joined['movies_produced'] = 0

current = None
counter = 0

for index, row in production_companies_joined.iterrows():
    if current != row['company_name']:
        counter = 0
    production_companies_joined.set_value(index,'movies_produced', counter)
    current = row['company_name']
    counter += 1
    
production_company_experience = production_companies_joined.groupby(by='movie_id').sum()['movies_produced']

In [8]:
# Create feature for cast experience
cast_data.sort_values(['cast_member_id', 'release_date'], inplace=True)
cast_data['movie_experience'] = 0

current = None
counter = 0

for index, row in cast_data.iterrows():
    if current != row['cast_member_id']:
        counter = 0
    cast_data.set_value(index,'movie_experience', counter)
    current = row['cast_member_id']
    counter += 1
    
cast_experience = cast_data[cast_data['cast_order'] <= 10].groupby('movie_id').sum()['movie_experience']

In [9]:
# Create dummy variables for genre
pivot_genre = genre_df.pivot_table(index='movie_id',columns='genre_name', values='genre_name',aggfunc=len, fill_value=0)
pivot_genre.index = pivot_genre.index.map(int)
pivot_genre = pivot_genre.apply(pd.to_numeric)

In [32]:
# Create column for gender ratio
gender_data = cast_data[cast_data['cast_order'] <= 5]
gender_data = gender_data.groupby(by='movie_id').mean()['gender']
gender_data.index = gender_data.index.map(int)

movie_id
2         1.000000
3         1.400000
5         1.500000
6         2.000000
9         2.000000
11        1.833333
12        1.666667
13        1.600000
14        1.500000
15        1.800000
16        1.400000
17        1.500000
18        1.800000
19        1.833333
20        1.333333
22        1.833333
24        1.333333
25        2.000000
26        1.500000
27        1.500000
28        2.000000
30        1.000000
32        0.000000
33        1.857143
35        1.500000
38        1.666667
55        1.333333
58        1.833333
59        1.500000
62        1.666667
            ...
477859    1.000000
477860    0.600000
477877    1.600000
477898    1.333333
477899    1.000000
477900    0.666667
477905    1.000000
477921    0.500000
477923    0.000000
477930    0.400000
477936    1.500000
477939    1.500000
477943    0.750000
477954    1.000000
477964    0.666667
477965    0.750000
477967    2.000000
477971    0.250000
477979    1.333333
477982    1.500000
478005    1.400000
478007    1.000000
478009    0.000000
478012    0.800000
478022    1.750000
478023    1.250000
478024    1.666667
478025    0.750000
478031    2.000000
478036    1.000000
Name: gender, Length: 96774, dtype: float64

In [37]:
# Join 'em up
df = base_df.join(pivot_genre, how='inner')
df = df.join(number_of_prod_companies, how='inner')
df = df.join(number_of_crewmembers, how='inner')
df = df.join(gender_data, how='inner')
df = df.join(cast_experience, how='inner')
df = df.join(production_company_experience, how='inner')
df = df.join(movie_is_holiday, how='inner')
df = df.join(movie_season, how='inner')

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6273 entries, 117263 to 394117
Data columns (total 36 columns):
budget                 6273 non-null int64
release_date           6273 non-null datetime64[ns]
revenue                6273 non-null int64
runtime                6265 non-null float64
imdb_budget            1992 non-null object
imdb_revenue           2061 non-null object
title                  6273 non-null object
collection             1265 non-null object
order_in_collection    6273 non-null int64
Action                 6273 non-null int64
Adventure              6273 non-null int64
Animation              6273 non-null int64
Comedy                 6273 non-null int64
Crime                  6273 non-null int64
Documentary            6273 non-null int64
Drama                  6273 non-null int64
Family                 6273 non-null int64
Fantasy                6273 non-null int64
Foreign                6273 non-null int64
History                6273 non-null int64
Horror                 6273 non-null int64
Music                  6273 non-null int64
Mystery                6273 non-null int64
Romance                6273 non-null int64
Science Fiction        6273 non-null int64
TV Movie               6273 non-null int64
Thriller               6273 non-null int64
War                    6273 non-null int64
Western                6273 non-null int64
prod_company_count     6273 non-null int64
crewmember_count       6273 non-null int64
gender                 6273 non-null float64
movie_experience       6273 non-null int64
movies_produced        6273 non-null int64
is_holiday             6273 non-null object
season                 6273 non-null object
dtypes: datetime64[ns](1), float64(2), int64(27), object(6)
memory usage: 1.8+ MB

In [30]:
gender_data.describe()

count    392886.000000
mean          1.044860
std           0.868119
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max           2.000000
Name: gender, dtype: float64